<div class="panel panel-default users">
            <img src={{user.imageUrl}} class="users-image" alt="user picture" />
            <a [routerLink]="['Profile', {nickname: user.nickname}]"> <label class="users-name">{{user.getFullName()}}</label><br/></a>
            <a [routerLink]="['Profile', {nickname: user.nickname}]"> <span class="users-nickname">@{{user.nickname}}</span><br/></a>
            <button *ngIf="isFollowing" class="btn pull-right btn-warning" (click)="onUnFollow()">Unfollow</button>
            <button *ngIf="!isFollowing" class="btn pull-right btn-success"(click)="onFollow()">Follow</button>
            <ul class="nav navbar-nav">
                <li class="users-info">
                    TWEETS <br/>
                    <label>{{user.numberTweets()}}</label>
                </li>
                <li class="users-info">
                    FOLLOWING<br/>
                    <label>{{user.numberFollowing()}}</label>
                </li>
            </ul>
        </div>